<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>
<body>
    <h1>Find restaurants below:</h1>
    <form action="/restaurant/search" method="POST">
        
        <input id="zipcode" name="zipcode" placeholder="Zipcode" required>
        <input id="type_of_food" name="type_of_food" placeholder="Type of Food" required>
        <button type="submit">Search</button>
    </form>
       
</body>
</html>