<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <div class="search-variables">
        <b>Filter:</b><br>
        <p><strong>Zip Code:</strong></p>
        <form>
          <label><input type="text" name="cuisine"  id="zipcode" /> </label><br>
        <p><strong>Type of Cuisine:</strong></p>
        </form>
        <form>
          <label><input type="checkbox" name="cuisine" value="American" id="American" /> American</label><br>
          <label><input type="checkbox" name="cuisine" value="Cajun" id="Cajun" /> Cajun</label><br> 
          <label><input type="checkbox" name="cuisine" value="Chinese" id="Chinese" /> Chinese</label><br>                     
          <label><input type="checkbox" name="cuisine" value="Italian" id="Italian" /> Italian</label><br>
          <label><input type="checkbox" name="cuisine" value="Mexican" id="Mexican" /> Mexican</label><br>  
          <label><input type="checkbox" name="cuisine" value="Thai" id="Thai" /> Thai</label>
        </form>
        
        <p><strong>Distance</strong></p>
        <form>
          <label><input type="checkbox" name="distance" value="driving" id="driving" /> Driving (5 mi.)</label><br>
          <label><input type="checkbox" name="distance" value="biking" id="biking" /> Biking (2 mi.)</label><br>
          <label><input type="checkbox" name="distance" value="walking" id="walking" /> Walking (1 mi.)</label><br> 
          <label><input type="checkbox" name="distance" value="within4blocks" id="within4blocks" /> Within 4 blocks</label><br>
         
        </form>  
        <p><strong>Price Range</strong></p>
        <form>
          <div><input type="checkbox" name="pricerange" value="$" id="$" /> $ </div>
          <div><input type="checkbox" name="pricerange" value="$$" id="$$" />
          $$</div>
          <div><input type="checkbox" name="pricerange" value="$$$" id="$$$" />
          $$$</div>
          <div><input type="checkbox" name="pricerange" value="$$$$" id="$$$$" />
          $$$$</div>
          </div>
      <div>Restaurants listing here<br><br> Listing 2
                           
      </div>
</body>
</html>